#device.row
  div.col-md-12
    div.panel.panel-default
      .panel-heading
        h3.panel-title.text-uppercase Thông tin quản lý thiết bị
      .panel-body
        table.table
          thead
            tr
              th #
              th Thời gian
              th Mã thiết bị
              th Loại thiết bị
              th Trạng thái
              th Thao tác
          tbody
            tr(ng-repeat='device in devices')
              td {{$index + 1}}
              td {{device.modified_date*1000 | date:'dd/MM/yyyy h:mm:ss a'}}
              td {{device.uni_id}}
              td {{device.model}}
              td {{device.status == 1 ? "Đang kích hoạt" : "Ngừng kích hoạt"}}
              td
                ul.list-inline
                  li
                    a(href='javascript:;').fa.fa-soccer-ball-o
                  li
                    a(href='javascript:;').fa.fa-trash-o