#block.row
  div.col-md-12
    div.panel.panel-default
      .panel-heading
        h3.panel-title.text-uppercase Khoá người dùng
      .panel-body
        table.table.table-hover
          tbody
            tr(ng-repeat='block in blocks')
              td.radio
                label
                  input(type='radio' name='action' ng-model='blockAction' value='{{block.value}}' ng-change="update(block.value)")
                  | {{block.title}}

        div.form-group
          include ../../../modules/save-button
