#user_info.row
  div.col-md-12
    div.panel.panel-default
      .panel-heading
        h3.panel-title THÔNG TIN NGƯỜI DÙNG
      .panel-body
        table.table
          thead
            tr
              td Email
              td {{ user.email || 'empty' }}
            tr
              td Số điện thoại
              td
                a(href='#', editable-text='user.phone') {{ user.phone || 'empty' }}
            tr
              td Họ
              td
                a(href='#', editable-text='user.first_name') {{ user.first_name || 'empty' }}
            tr
              td Tên
              td
                a(href='#', editable-text='user.last_name') {{ user.last_name || 'empty' }}
            tr
              td Tên hiển thị
              td
                a(href='#', editable-text='user.display_name') {{ user.display_name || 'empty' }}
            tr
              td Ngày sinh
              td
                a(href='#', editable-date='user.birthday') {{ user.birthday || 'empty' | date : format }}
            tr
              td Địa chỉ
              td
                a(href='#', editable-text='user.address') {{ user.address || 'empty' }}
            tr
              td Giới tính
              td
                .radio
                  label
                    input(type='radio', ng-model='user.gender' value=1)
                    | Nam
                  label
                    input(type='radio',ng-model='user.gender' value=0)
                    | Nữ
            tr
              td Quản lý trẻ em
              td
                .radio
                  label
                    input(type='radio', ng-model='user.child' value=1)
                    | Có
                  label
                    input(type='radio',ng-model='user.child' value=0)
                    | Không
            tr
              td Mã pin
              td
                a(href='#', editable-text='user.pin_code') {{ user.pin_code || 'empty' }}
            tr
              td Mật khẩu
              td
                a(href='#', editable-text='user.new_password', onbeforesave='updateField($data, "password")') {{ user.password || '**********' }}

        div.col-md-12
          .form-group
            include ../../../modules/save-button

